.cvform{
  width: 60em;
  box-sizing: border-box;
  margin: 50px;
  background-color: var(--gray);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  padding:50px;
  display: flex;
  flex-direction: column;
}

.cvform > button{
  border: none;
  color: white;
  margin-top: 10px;
  font-family: inherit;
  font-weight: 400;
  height: 40px;
  padding: 0 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: filter 0.1s ease-in;
}
.cvform > button:first-child{
  margin-top: 10px;
}

.cvform > button:last-child{
  margin-bottom: 20px;
}

.cvform > button:hover{
  filter: brightness(80%);
}

.red{
  background-color: #c23c45;
}

.blue{
  background-color: var(--blue);
}

.green{
  background-color: #4fb061;
}
